<h1>Listing groups</h1>

#TODO: Join / leave interchangeable

<table>
  <tr>
    <th>Name</th>
    <th>Native language</th>
    <th>Foreign language</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.name %></td>
    <td><%= group.native_language.name %></td>
    <td><%= group.foreign_language.name %></td>
    <td> 
        <% if group.users.include? current_user  %>
          <%= button_to "Leave", delete_group_user_path(group, current_user) , :confirm => "Are you sure, if you leave group you will later have to be approved again?", :method => :delete %>
        <% elsif group.group_join_requests.any? {|gjr| gjr.user == current_user and gjr.status == GroupJoinRequest::S_REQUESTED and gjr.closed == false} %>
          <%= button_to "Cancel", delete_group_join_request_path(:id => group.group_join_requests.find_by_user_id(current_user.id)) , :confirm => "Are you sure you want to cancel the request?", :method => :delete %>
        <% else %>
          <%= button_to "Join", create_group_join_request_path(:group_id => group.id, :user_id => current_user.id) , :confirm => "Are you sure, you will have to be approved to enter the group?", :method => :post %>
        <% end %>
    </td> 
    <td><%= link_to 'Show', group %></td>
    <td><%= link_to 'Edit', edit_group_path(group) %></td>
    <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group', new_group_path %>
