<h1>Group</h1>

</br>

<p>
<div class="row">
  <div class="span2"><b>Name:</b></div>
  <div><%= @group.name %></div> 
</div>
</p>
<p>
<div class="row">
  <div class="span2"><b>Native language:</b></div>
  <div><%= @group.native_language.name %></div> 
</div>
</p>
<p>
<div class="row">
  <div class="span2"><b>Foreign language:</b></div>
  <div><%= @group.foreign_language.name %></div> 
</div>
</p>

<%= link_to 'Back', groups_path, :class => 'btn btn-primary' %>
<%= link_to 'Edit', edit_group_path(@group), :class => 'btn btn-mini' %> 

</br></br>

<h2>Lessons</h2>

<p>
  <% @lessons = @group.lessons #TODO: This is just hotfix, change on partial variable to local variable %>
  <%= render "lessons/lessons_table_form"  %>
 
  <% if !@group.lessons.present? or @group.lessons.count <= 0 %>
    <p>This group does not contain any lessons. Be the first one to create a lesson for this group!</p>
  <% end %>

  <%= link_to "Create lesson", new_lesson_path, :class => 'btn btn-primary' %>
</p>


