<h1>Dashboard</h1>


<h2>Groups with recent activity</h2>
<p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Foreign language</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group %></td>
        <td><%= group.foreign_language.name %></td>
        <td><%= link_to 'Show', group %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br />
  <%= link_to "Groups", user_groups_path(current_user) %></br></br>
</p>

<h2>Lessons with recent activity</h2>
<p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @lessons.each do |lesson| %>
      <tr>
        <td><%= link_to lesson.name, lesson %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br />
  <%= link_to "Lessons", user_lessons_path(current_user) %></br></br>
</p>

