<h2>Recent groups</h2>
<p>
  <% if @groups.count > 0 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Foreign language</th>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group %></td>
        <td><%= group.foreign_language.name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br />
  <%= link_to "Your groups", user_groups_path(current_user) %></br></br>
  <%= link_to "All groups", groups_path %></br></br>

  <% else %>
    <p>You are not a member of any group.
       </br></br>
       <%= link_to "Join groups", groups_path %></br></br>
    </p>
 
  <% end %>  
</p>

<h2>Recent lessons</h2>
<p>
  <% if @lessons.count > 0 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @lessons.each do |lesson| %>
      <tr>
        <td><%= link_to lesson.name, lesson %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br />
  <%= link_to "Lessons", user_lessons_path(current_user) %></br></br>
  <% else %>
    <p>You are not following any lessons. Join some group and follow or create lessons!</p>
  <% end %>
</p>

