<!DOCTYPE html>
<html>
<head>
  <title>Lefranc</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_nav">
	<% if current_user %>
		<%=current_user.name %>
		<%= link_to "Sign out", signout_path %>
	<% else %>	
		<%= link_to "Sign in / Sign up", "/sessions/index" %>	
	<% end %>
</div>
<% flash.each do |key, value| %>
	<p><%=value %></p>
<% end %>

<%= yield %>

</body>
</html>
